//Padding for container

$padding_default: 15px;


//Colors

$yellow: #f5c300;
$orange: #eb7418;
$magenta: #cd004d;
$purple: #6d559f;
$green: #0cb14b;
$blue: #008ad2;
$black: #000;
$light_gray: #f6f6f6;

$gray: #e6e6e6;

$border_color_cards: $gray;

$default_color: $magenta;

// ==================== Responsive breakpoint

// Large responsive
$min-large: 1200px;
$min-middle: $min-large - 1;

// Middle responsive
$max-middle: 992px;
$table-max: $max-middle -1;
$table-min: 768px;

// Small responsive
$phone-max: $table-min - 1;
$phone-min: 480px;
$min-responsive: 320px;

