@import "_mixin.scss";
@import "_vars.scss";


/* ============= HEADER ============= */
.header {
  position: relative;
  height: 130px;
  padding-top: 3px;
  padding-bottom: $padding_default;
  overflow: hidden;
  &__container {
    padding-top: $padding_default;
    height: 100%;
  }
  &__col {
    h3 {
      margin: 0 0 15px;
    }
  }
}
.address {
  &__title {
    padding: 0;
    color: $default_color;
    font-size: 18px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    .fa {
      padding-right: 10px;
      color: #9f9f9f;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
  &__text {
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    padding-left: 20px;
  }
}
.call {
  &__box {
    padding-left: 0;
  }
  &__title {
    padding: 0;
    color: $default_color;
    font-size: 18px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    .fa {
      padding-right: 10px;
      color: #9f9f9f;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
  &__list {
    padding-left: 20px;
    &__red {
      color: $default_color;
      font-weight: 400;
    }
    &__bold {
      font-weight: 700;
    }
    li {
      a {
        font-size: 18px;
        text-decoration: none;
        color: #242424;
      }
    }
  }

}
.working_hours {
  text-align: right;
  color: $default_color;
  padding-top: 13px;
  &__time {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    &__black {
      color: $black;
    }
  }
  &__whole_week {
    font-size: 31px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
  }
}
.socials_icons {
  &__title {
    text-align: right;
    color: $default_color;
    font-size: 18px;
    font-weight: 600;
    margin: 13px 0 0!important;
  }
  &__list {
    display: flex;
    justify-content: flex-end;
    li {
      a {
        padding-left: 15px;
        &:hover {
          .fa {
            color: $default_color;
          }
        }
        .fa {
          color: #9f9f9f;
          font-size: 30px;
          font-weight: 400;
          transition: color 150ms ease-in
        }
      }
    }
  }
}
.section_line {
  width: 100%;
  height: 3px;
  display: flex;
  justify-content: flex-start;
  &.top {
    position: absolute;
    top: 0;
    left: 0;
  }
  &.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .color {
    width: 25%;
    height: 100%;
    &:nth-child(1) {
      background: $yellow;
    }
    &:nth-child(2) {
      background: $orange;
    }
    &:nth-child(3) {
      background: $magenta;
    }
    &:nth-child(4) {
      background: $purple;
    }

  }
}
/* ========== HEADER END =========== */
/* ========== MAIN MENU ============ */
.main_menu {
  display: flex;
  justify-content: flex-start;
  &__item {
    display: inline-block;
    height: 41px;
    line-height: 41px;
    padding: 0 20px;
    transition: all 150ms ease-in;
    position: relative;
    z-index: 2;
    &:first-child {
      margin-left: -20px;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
      color: $default_color;
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
      transition: color 150ms ease-in;
    }
  }
  &__submenu {
    position: absolute;
    left: 0;
    top: 100%;
    height: auto;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin:left top;
    background: $default_color;
    min-width: 100%;
    display: inline-block;
    z-index: 3;
    box-shadow: 6px 6px 14px -1px rgba(0,0,0,0.28);
    &__item {
      display: block;
      padding: 0;
      a {
        background: $default_color;
        padding: 0 20px;
        display: block;
        white-space: nowrap;
        transition: background 150ms ease-in;
        &:hover {
          background: $default_color * 0.9;
        }
      }
    }
  }
  &__bg {
    height: 41px;
    background-color: $light_gray;
  }
}
/* ======== MAIN MENU END ========== */

/* ========== BIG SLIDER =========== */
.big_slider {
  &__section {
    position: relative;
    overflow: hidden;
    padding-bottom: 3px;
  }
  &__item {
    &__cover {
      height: 587px;
      position: relative;
      text-align: center;
      img {
        display: inline-block;
        min-width: 100%;
        height: auto;
        filter: grayscale(30%);
      }
      &__text {
        position: absolute;
        left: 0;
        bottom: 0;
        height: auto;
        padding: $padding_default * 2 0 $padding_default + 5;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        .container {
          height: 100%;
        }

        &__header {
          color: #ffffff;
          font-family: 'Roboto', sans-serif;
          font-size: 30px;
          font-weight: 400;
          text-transform: uppercase;
          margin: $padding_default 0;
        }
        &__description {
          color: #ffffff;
          font-family: 'Roboto', sans-serif;
          font-size: 18px;
          font-weight: 400;
        }
        &__box {
          display: table;
          width: 100%;
          height: 100%;
        }
        &__table {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
        }
      }
    }
  }
}
/* ======== BIG SLIDER END ========= */
/* =========== PROGRAMS =========== */
.programs {
  &__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -15px -30px;
  }

  &__col {
    width: 25%;
    padding: 0 15px;
    margin: 0 0 30px;
  }
  
  &__link {
    text-decoration: none;
  }

  &__item {
    border: 1px solid $border_color_cards;
    background: $default_color;
    &.default_bg {
      background: $default_color;
      .programs__img {
        &:before {
          background: $default_color;
        }
      }
    }
    &.orange_bg {
      background: $orange;
      .programs__img {
        &:before {
          background: $orange;
        }
      }
    }
    &.purple_bg {
      background: $purple;
      .programs__img {
        &:before {
          background: $purple;
        }
      }
    }
    &.green_bg {
      background: $green;
      .programs__img {
        &:before {
          background: $green;
        }
      }
    }
    &.blue_bg {
      background: $blue;
      .programs__img {
        &:before {
          background: $blue;
        }
      }
    }
  }

  &__img {
    width: 100%;
    height: 207px;
    overflow: hidden;
    position: relative;
    text-align: center;
    &:before {
      content: ' ';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: $default_color;
      opacity: 0;
      z-index: 2;
      transition: opacity 150ms ease-in;
    }
    &:after {
      content: 'Подробнее';
      position: absolute;
      left: 0;
      right: 0;
      top: -10%;
      transform: translateY(-50%);
      width: 40%;
      display: inline-block;
      height: 30px;
      line-height: 30px;
      padding: 0 10px;
      margin: 0 auto;
      border: 1px solid #fff;
      color: #fff;
      z-index: 3;
      transition: all 150ms ease-in;
      font-size: 16px;
    }
    img {
      filter: grayscale(30%);
      transition: all 150ms ease-in;
    }
  }

  &__title {
    height: 32px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 32px;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
  }
}
/* ========= PROGRAMS END ========= */
/* ======= APPLICATION FORM ======= */
.application_form {
  position: relative;
  height: auto;
  &__bg {
    height: 505px;
    padding: 30px 0;
    background: transparent;
  }
  &__box {
    display: block;
    height: 100%;
    background: rgba(0, 0, 0, .31);
    padding: 15px 10%;
  }
  &__container {
    height: 100%;
  }
  &__header {
    margin-top: 0;
    text-align: center;
    color: #ffffff;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  &__inputs_row {
    margin-bottom: 30px;
  }
}
/* ===== APPLICATION FORM END ==== */

/* ======== PHOTO GALLERY  ======= */
.photos_main {
  &__img {
    overflow: hidden;
    height: 169px;
    img {
      max-width: 100%;
      height: auto;

    }
  }
  &__cover_button {
    text-align: center;
    a {
      margin: 0;
    }
  }
  &__col {
    margin-bottom: 30px;
  }
}
/* ========== PHOTO END  ========= */

.footer {
  &__bg {
    height: 93px;
    background: #1b1b1b;
    position: relative;
  }
  &__left {
    text-align: left;
    padding-top: 25px;
  }

  &__right {
    text-align: right;
    padding-top: 25px;
  }
  &__copyright {
    margin-bottom: 3px;
  }
  &__copyright, &__warning {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
  }
  &__phones {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3px;
    &__red {
      color: #be0042;
      font-weight: 400;
    }
    &__bold {
      font-weight: 700;
    }
    li {
      margin-left: 15px;
      a {
        font-size: 14px;
        color: #fefefe;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
  &__address {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
  }
}

.bread_crumbs {
  display: flex;
  justify-content: flex-start;
  padding: 15px 0;
  li {
    padding: 0 15px 0 0;
    margin-right: 10px;
    position: relative;
    font-size: 12px;
    &:after {
      position: absolute;
      right: -4px;
      content: '—';
    }
    a {
      font-size: 12px;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}

.page_header {
  margin: 0 0 30px 0;
  line-height: 1;
}

.content {
  &__container {
    padding-bottom: 30px;
  }
}

.content_page_menu {
  &__header {
    width: 100%;
    height: 40px;
    background: $default_color;
    color: #fff;
    text-align: center;
    line-height: 40px;
  }
  &__body {
    padding: 15px 0;
    li {
      display: block;
      padding-bottom: 5px;
      &.active {
        a {
          color: $default_color;
          text-decoration: underline;
        }
      }
      a {
        color: #5e5667;
        text-decoration: none;
        &:hover {
          color: $default_color;
          text-decoration: underline;
        }

      }
    }
  }
}